@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* reset code and common starts here  */
:root {
  --primary-color: rgb(10, 4, 67);
  --secondary-color: rgb(44, 34, 146);
  --tertiary-color: rgb(201, 137, 1);
  --white-color: rgb(255, 255, 255);
  --primary-font: "Montserrat", Helvetica, Arial, sans-serif;
  --tansition: all 0.3s;
  --padding: 0.5rem;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar handle color */
  border-radius: 6px; /* Rounded scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #d2d2d2; /* Scrollbar track color */
}

.html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
}

.custom-btn {
  display: inline-block;
  padding: clamp(0.3rem, calc(0.2rem + 0.5vw), 0.45rem)
    clamp(1rem, calc(1rem + 0.5vw), 1.55rem);
  line-height: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.5625rem);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0;
  color: var(--white-color);
  font-size: clamp(0.7rem, calc(0.61rem + 0.5375vw), 0.9375rem);
  font-weight: 600;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.custom-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

h1 {
  font-size: clamp(2rem, calc(2vw + 1rem), 3rem);
  font-weight: 500;
  margin-bottom: clamp(0.75rem, calc(1vw + 0.5rem), 1.5rem);
  line-height: clamp(2rem, calc(1.5rem + 1.8vw), 3.5rem);
}

h2 {
  font-weight: 500;
  font-size: clamp(2rem, calc(2vw + 1rem), 3rem);
  line-height: 3rem;
}

h4 {
  font-size: clamp(0.9rem, calc(2vw + 1rem), 1.4rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(4, 4, 230);
}
.mb-6 {
  margin-bottom: 4rem;
}
.course__price {
  font-size: clamp(2rem, calc(1rem + 2vw), 3rem);
  font-weight: 500;
  text-align: right;
}
.course__price sup {
  position: relative;
  top: -1rem;
  font-size: clamp(0.8rem, calc(0.8rem + 0.5vw), 1rem);
  font-weight: 400;
}
/* reset code and common ends here  */

/* Navbar starts here  */
.custom-nav {
  padding: 2rem 1.35rem 1.8rem 1.35rem;
}
.navbar-collapse {
  width: 63%;
}
.navbar-nav .nav-item .nav-link {
  color: black;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
  color: blue;
}
.btn-top-hidden {
  display: none;
}
.custom-icon-btn {
  border: unset;
}
.custom-icon-btn:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-item {
  margin-left: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.btn-top {
  margin-left: 1.5rem;
}
/* Navbar ends here  */

/* hero-left-section starts here  */
.hero-left {
  background-color: var(--primary-color);
  padding: clamp(1rem, calc(2vw + 1rem), 3rem);
}
.hero-heading {
  color: var(--white-color);
  margin-top: clamp(0.5rem, calc(1vw + 0.5rem), 1.5rem);
}
.hero-heading h1 span {
  color: var(--tertiary-color);
}
.hero-btn {
  margin-bottom: clamp(2rem, calc(3vw + 1rem), 4rem);
}
.hero-btn__one {
  font-size: clamp(0.7rem, calc(0.6rem + 0.5vw), 0.9rem);
  font-weight: 400;
  background-color: rgb(222, 148, 11);
  margin-right: 0.4rem;
}
.hero-btn__one:hover {
  background-color: var(--tertiary-color);
}
.hero-btn__two {
  font-size: clamp(0.7rem, calc(0.6rem + 0.5vw), 0.9rem);
  font-weight: 400;
}
.hero-btn__two:hover {
  background-color: #24277d;
}
.hero-lists {
  border-top: 0.8px solid #24277d;
}
.hero-lists ul {
  list-style-type: none;
  margin: clamp(2rem, calc(3vw + 1rem), 4rem) 0 0 0;
  padding: 0;
  color: var(--white-color);
  font-size: clamp(0.6rem, calc(0.6rem + 0.4vw), 0.8rem);
}
.hero-lists ul li {
  margin-bottom: clamp(0.4rem, calc(0.6vw + 0.4rem), 0.8rem);
}
.hero-lists ul li:last-child {
  margin-bottom: 0;
}
.hero-lists ul li i {
  font-size: clamp(0.5rem, calc(0.5rem + 0.3vw), 0.6rem);
  color: rgb(0, 229, 223);
}
/* hero-left-section ends here  */

/* hero-right-section starts here  */
.hero-right {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 0;
}
.banner-body {
  padding: clamp(1rem, calc(2vw + 1rem), 3rem);
}
.bannar-course .banner-course__title {
  font-size: clamp(0.9rem, calc(0.9rem + 0.5vw), 1.1rem);
  font-weight: 500;
}

.banner-course__details .banner-course__learn-more a {
  font-size: clamp(0.5rem, calc(0.5rem + 0.4vw), 0.7rem);
  text-decoration: none;
  color: white;
}
.banner-course__details .banner-course__learn-more a:hover {
  text-decoration: underline;
  color: rgb(187, 184, 184);
}
.banner-course__learn-more i {
  color: var(--tertiary-color);
  font-size: clamp(0.7rem, calc(1.4vw + 0.5rem), 0.8rem);
  margin-right: clamp(0.2rem, calc(0.7vw + 0.2rem), 0.8rem);
}
.banner-course__details div:nth-of-type(2) {
  font-size: clamp(0.5rem, calc(0.4rem + 0.6vw), 0.8rem);
  color: #d2d2d2;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/* hero-right-section ends here  */

/* counter section starts here  */

.counter-section h2 {
  color: var(--secondary-color);
  font-size: 2.5rem;
}
.counter-section p {
  color: #9e9e9e;
  font-size: 0.7rem;
  font-weight: 500;
}
/* counter section ends here  */

/* how-it-works starts here  */
.works-details ul,
.our-courses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.works-details ul li,
.our-courses ul li {
  font-size: clamp(0.7rem, calc(0.7rem + 0.5vw), 1rem);
  line-height: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  margin-left: 2.8rem;
}
.works-details ul li::before,
.our-courses ul li::before {
  position: absolute;
  left: -2.1875rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}
.works-details ul li:not(:last-child)::after,
.our-courses ul li:not(:last-child)::after {
  display: block;
  content: "";
  width: 4rem;
  height: 0.01rem;
  background-color: rgb(221, 218, 218);
  margin-top: 1rem;
  position: absolute;
  left: -2.8rem;
}
/* how-it-works ends here  */

/* our courses section starts here  */
.our-courses {
  background-color: rgb(247, 250, 253);
  padding-bottom: 5rem;
}
.img-corner {
  margin-bottom: -1rem;
}
.our-courses .left span {
  color: black;
  font-size: 1.2rem;
}
.our-courses .right h5 {
  font-size: calc(1.3rem + 3vw);
  font-weight: 500;
  margin-top: 3rem;
}
.our-courses .right h5 sup {
  font-size: calc(0.5rem + 0.4vw);
  position: relative;
  top: calc(-1.2rem + -0.8vw);
  margin-left: -5px;
  text-transform: uppercase;
}
.our-courses .right span {
  font-size: calc(0.5rem + 0.4vw);
  color: #9e9e9e;
}
.our-courses .right .row:not(:last-child) {
  border-bottom: 1px solid #9e9e9e;
}

/* our courses section ends here  */

/* Responsiveness starts here  */
@media (max-width: 1200px) {
}
@media (max-width: 600px) {
  .btn-top {
    display: none;
  }
  .btn-top-hidden {
    display: block;
    margin-top: 1rem;
  }
}
