/* reset code and common starts here  */
:root {
  --primary-color: rgb(10, 4, 67);
  --secondary-color: rgb(44, 34, 146);
  --white-color: rgb(255, 255, 255);
  --tansition: all 0.3s;
  --padding: 0.5rem;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar handle color */
  border-radius: 6px; /* Rounded scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color); /* Scrollbar track color */
}

.html {
  scroll-behavior: smooth;
}

.custom-btn {
  display: inline-block;
  padding: 0.35rem 1.55rem;
  line-height: 1.5625rem;
  background-color: var(--secondary-color);
  border: 0.1875rem solid var(--secondary-color);
  border-radius: 0;
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.custom-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* reset code and common ends here  */

/* Navbar starts here  */
.navbar-nav .nav-item .nav-link {
  color: black;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
  color: blue;
}
.btn-top-hidden {
  display: none;
}
.custom-nav {
  padding: 2rem 1.45rem;
  border-bottom: 1px solid black;
}
.navbar-collapse {
  width: 65%;
}
.custom-icon-btn {
  border: unset;
}
.custom-icon-btn:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-item {
  margin-left: 2rem;
}
.btn-top {
  margin-left: ;
}
/* Navbar ends here  */

/* Responsiveness starts here  */
@media (max-width: 1200px) {
}
@media (max-width: 600px) {
  .btn-top {
    display: none;
  }
  .btn-top-hidden {
    display: block;
    margin-top: 1rem;
  }
}
